0 1.0E+20 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
external 207 1. (idf) -1
external 208 1. (idf) -1
constant 1.
external 209 1. (idf) -1
external 210 1. (idf) -1
constant 1.
external 211 1. (idf) -1
external 212 1. (idf) -1
constant 1.
external 213 1. (idf) -1
external 214 1. (idf) -1
constant 1.
external 215 1. (idf) -1
external 216 1. (idf) -1
constant 1.
external 217 1. (idf) -1
external 218 1. (idf) -1
constant 1.
external 219 1. (idf) -1
external 220 1. (idf) -1
constant 1.
external 221 1. (idf) -1
external 222 1. (idf) -1
constant 1.
external 223 1. (idf) -1
external 224 1. (idf) -1
constant 1.
external 225 1. (idf) -1
external 226 1. (idf) -1
constant 1.
external 227 1. (idf) -1
external 228 1. (idf) -1
constant 1.
external 229 1. (idf) -1
external 230 1. (idf) -1
constant 1.
external 231 1. (idf) -1
external 232 1. (idf) -1
constant 1.
external 233 1. (idf) -1
external 234 1. (idf) -1
constant 1.
external 235 1. (idf) -1
external 236 1. (idf) -1
constant 1.
external 237 1. (idf) -1
external 238 1. (idf) -1
constant 1.
external 239 1. (idf) -1
external 240 1. (idf) -1
constant 1.
external 241 1. (idf) -1
external 242 1. (idf) -1
constant 1.
external 243 1. (idf) -1
external 244 1. (idf) -1
constant 1.
external 245 1. (idf) -1
external 246 1. (idf) -1
constant 1.
external 247 1. (idf) -1
external 248 1. (idf) -1
constant 1.
external 249 1. (idf) -1
external 250 1. (idf) -1
constant 1.
external 251 1. (idf) -1
external 252 1. (idf) -1
constant 1.
external 253 1. (idf) -1
external 254 1. (idf) -1
constant 1.
external 255 1. (idf) -1
external 256 1. (idf) -1
constant 1.
external 257 1. (idf) -1
external 258 1. (idf) -1
constant 1.
external 259 1. (idf) -1
external 260 1. (idf) -1
constant 1.
external 261 1. (idf) -1
external 262 1. (idf) -1
constant 1.
external 263 1. (idf) -1
external 264 1. (idf) -1
constant 1.
external 265 1. (idf) -1
external 266 1. (idf) -1
constant 1.
external 267 1. (idf) -1
external 268 1. (idf) -1
constant 1.
external 269 1. (idf) -1
external 270 1. (idf) -1
constant 1.
external 271 1. (idf) -1
external 272 1. (idf) -1
constant 1.
external 273 1. (idf) -1
external 274 1. (idf) -1
constant 1.
external 275 1. (idf) -1
external 276 1. (idf) -1
constant 1.
external 277 1. (idf) -1
external 278 1. (idf) -1
constant 1.
external 279 1. (idf) -1
external 280 1. (idf) -1
constant 1.
external 281 1. (idf) -1
external 282 1. (idf) -1
constant 1.
external 283 1. (idf) -1
external 284 1. (idf) -1
constant 1.
external 285 1. (idf) -1
external 286 1. (idf) -1
constant 1.
external 287 1. (idf) -1
external 288 1. (idf) -1
constant 1.
external 289 1. (idf) -1
external 290 1. (idf) -1
constant 1.
external 291 1. (idf) -1
external 292 1. (idf) -1
constant 1.
external 293 1. (idf) -1
external 294 1. (idf) -1
constant 1.
external 295 1. (idf) -1
external 296 1. (idf) -1
constant 1.
external 297 1. (idf) -1
external 298 1. (idf) -1
constant 1.
external 299 1. (idf) -1
external 301 1. (idf) -1
constant 1.
external 302 1. (idf) -1
external 303 1. (idf) -1
constant 1.
external 304 1. (idf) -1
external 305 1. (idf) -1
constant 1.
external 306 1. (idf) -1
external 307 1. (idf) -1
constant 1.
